.JUMBLETRON {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .JUMBLETRON .COUNTDOWN-TIMER {
    position: absolute;
    width: 374px;
    height: 128px;
    top: 917px;
    left: 210px;
  }
  
  .JUMBLETRON .paragraph-overlay {
    position: absolute;
    width: 80px;
    height: 88px;
    top: 40px;
    left: 0;
    background-color: #ffffffd9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #0000001a;
  }
  
  .JUMBLETRON .text-wrapper {
    width: 31px;
    left: 25px;
    position: absolute;
    height: 32px;
    top: 15px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1a56db;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .div {
    position: absolute;
    width: 30px;
    height: 16px;
    top: 47px;
    left: 25px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .paragraph-overlay-2 {
    width: 80px;
    left: 96px;
    position: absolute;
    height: 88px;
    top: 40px;
    background-color: #ffffffd9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #0000001a;
  }
  
  .JUMBLETRON .text-wrapper-2 {
    width: 26px;
    left: 27px;
    position: absolute;
    height: 32px;
    top: 15px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1a56db;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .text-wrapper-3 {
    position: absolute;
    width: 35px;
    height: 16px;
    top: 47px;
    left: 23px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .paragraph-overlay-3 {
    width: 80px;
    left: 192px;
    position: absolute;
    height: 88px;
    top: 40px;
    background-color: #ffffffd9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #0000001a;
  }
  
  .JUMBLETRON .text-wrapper-4 {
    width: 28px;
    left: 26px;
    position: absolute;
    height: 32px;
    top: 15px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1a56db;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .text-wrapper-5 {
    position: absolute;
    width: 47px;
    height: 16px;
    top: 47px;
    left: 17px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .paragraph-overlay-4 {
    width: 84px;
    left: 288px;
    position: absolute;
    height: 88px;
    top: 40px;
    background-color: #ffffffd9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px #0000001a;
  }
  
  .JUMBLETRON .text-wrapper-6 {
    width: 28px;
    left: 28px;
    position: absolute;
    height: 32px;
    top: 15px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1a56db;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .text-wrapper-7 {
    position: absolute;
    width: 52px;
    height: 16px;
    top: 47px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .text-wrapper-8 {
    position: absolute;
    width: 149px;
    height: 28px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #304eff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .overlap {
    position: absolute;
    width: 490px;
    height: 598px;
    top: 263px;
    left: 195px;
  }
  
  .JUMBLETRON .buttons {
    position: absolute;
    width: 490px;
    height: 56px;
    top: 542px;
    left: 0;
  }
  
  .JUMBLETRON .GET-TICKETS {
    position: absolute;
    width: 247px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #304eff;
    border-radius: 8px;
  }
  
  .JUMBLETRON .icon {
    left: 32px;
    position: absolute;
    width: 25px;
    height: 24px;
    top: 16px;
  }
  
  .JUMBLETRON .text-wrapper-9 {
    position: absolute;
    width: 150px;
    height: 25px;
    top: 14px;
    left: 65px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #fffd02;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .WATCH-PROMO {
    position: absolute;
    width: 227px;
    height: 56px;
    top: 0;
    left: 263px;
    background-color: #facc15;
    border-radius: 8px;
  }
  
  .JUMBLETRON .vector-wrapper {
    left: 34px;
    position: absolute;
    width: 25px;
    height: 24px;
    top: 16px;
  }
  
  .JUMBLETRON .vector {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
  }
  
  .JUMBLETRON .text-wrapper-10 {
    position: absolute;
    width: 127px;
    height: 25px;
    top: 13px;
    left: 67px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #1e3a8a;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .text-wrapper-11 {
    position: absolute;
    width: 349px;
    height: 102px;
    top: 447px;
    left: 15px;
    font-family: "Cy Grotesk Wide-Bold", Helvetica;
    font-weight: 700;
    color: #f55198;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .JUMBLETRON .logo-BUKFEST-VERT {
    position: absolute;
    width: 374px;
    height: 470px;
    top: 0;
    left: 15px;
  }
  
  .JUMBLETRON .IMG-SPEAKERS {
    position: absolute;
    width: 1054px;
    height: 910px;
    top: 170px;
    left: 739px;
    object-fit: cover;
  }
  
  .JUMBLETRON .BBS-LOGO {
    position: absolute;
    width: 194px;
    height: 70px;
    top: 193px;
    left: 227px;
    background-image: url(./assets/images/BBC-LOGO-BLACK.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .JUMBLETRON .nav {
    position: sticky;
    width: 1920px;
    height: 72px;
    top: -1px;
    left: 0;
    background-color: #fffffff2;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  }
  
  .JUMBLETRON .overlap-group {
    position: relative;
    width: 1536px;
    height: 72px;
    left: 192px;
  }
  
  .JUMBLETRON .container {
    position: absolute;
    width: 1536px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .JUMBLETRON .link {
    width: 48px;
    left: 499px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-12 {
    position: absolute;
    width: 48px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .div-wrapper {
    width: 74px;
    left: 579px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-13 {
    position: absolute;
    width: 75px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .link-2 {
    width: 73px;
    left: 685px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-14 {
    position: absolute;
    width: 74px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .link-3 {
    width: 75px;
    left: 790px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-15 {
    position: absolute;
    width: 76px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .link-4 {
    width: 55px;
    left: 898px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-16 {
    position: absolute;
    width: 55px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .link-5 {
    width: 65px;
    left: 984px;
    position: absolute;
    height: 24px;
    top: 24px;
  }
  
  .JUMBLETRON .text-wrapper-17 {
    position: absolute;
    width: 65px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1f2937;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 136px;
    height: 40px;
    top: 16px;
    left: 1384px;
    background-color: #1a56db;
    border-radius: 8px;
  }
  
  .JUMBLETRON .text-wrapper-18 {
    position: absolute;
    width: 89px;
    height: 23px;
    top: 7px;
    left: 24px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .JUMBLETRON .logo-BUKFEST-HORIZ {
    position: absolute;
    width: 131px;
    height: 61px;
    top: 7px;
    left: 16px;
  }
  
  .about-bukfest {
    width: 1920px;
    height: 1241px;
    background-color: #facc15;
    border: 1px solid;
    border-color: transparent;
  }
  
  .about-bukfest .container {
    position: relative;
    width: 1536px;
    height: 1081px;
    top: 80px;
    left: 192px;
  }
  
  .about-bukfest .overlap {
    position: relative;
    width: 1980px;
    height: 2911px;
    top: -720px;
    left: -222px;
  }
  
  .about-bukfest .text-wrapper {
    position: absolute;
    width: 278px;
    height: 51px;
    top: 713px;
    left: 238px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #111827;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .about-bukfest .POLYGON {
    position: absolute;
    width: 1920px;
    height: 2911px;
    top: 0;
    left: 30px;
  }
  
  .about-bukfest .logo-BUKFEST-HORIZ {
    position: absolute;
    width: 210px;
    height: 98px;
    top: 700px;
    left: 367px;
  }
  
  .about-bukfest .background {
    position: absolute;
    width: 80px;
    height: 4px;
    top: 776px;
    left: 238px;
    background-color: #fffa02;
  }
  
  .about-bukfest .BUKFEST-is-wrapper {
    position: absolute;
    width: 768px;
    height: 134px;
    top: 814px;
    left: 224px;
  }
  
  .about-bukfest .BUKFEST-is {
    position: absolute;
    width: 539px;
    height: 84px;
    top: 7px;
    left: 11px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #374151;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .about-bukfest .background-shadow {
    position: absolute;
    width: 480px;
    height: 268px;
    top: 982px;
    left: 238px;
    background-color: #17bdf7;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  }
  
  .about-bukfest .overlap-group {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 208px;
    background-color: #304eff;
    border-radius: 9999px;
  }
  
  .about-bukfest .icon-locator {
    position: absolute;
    width: 31px;
    height: 42px;
    top: 11px;
    left: 17px;
  }
  
  .about-bukfest .heading-cultural {
    position: absolute;
    width: 350px;
    height: 28px;
    top: 119px;
    left: 65px;
    font-family: "Bolden-Regular-Regular", Helvetica;
    font-weight: 400;
    color: #111827;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .about-bukfest .div {
    position: absolute;
    width: 415px;
    height: 71px;
    top: 163px;
    left: 33px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #111827;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .about-bukfest .background-shadow-2 {
    left: 750px;
    background-color: #fffa02;
    position: absolute;
    width: 480px;
    height: 268px;
    top: 982px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  }
  
  .about-bukfest .icon-connect-wrapper {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 208px;
    background-color: #facc15;
    border-radius: 9999px;
  }
  
  .about-bukfest .icon-connect {
    position: absolute;
    width: 38px;
    height: 46px;
    top: 9px;
    left: 16px;
  }
  
  .about-bukfest .heading-innovation {
    position: absolute;
    width: 364px;
    height: 28px;
    top: 119px;
    left: 58px;
    font-family: "Bolden-Regular-Regular", Helvetica;
    font-weight: 400;
    color: #002563;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .about-bukfest .p {
    position: absolute;
    width: 430px;
    height: 71px;
    top: 163px;
    left: 25px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #374151;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .about-bukfest .background-shadow-3 {
    left: 1262px;
    background-color: #22c55e;
    position: absolute;
    width: 480px;
    height: 268px;
    top: 982px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  }
  
  .about-bukfest .icon-heart-wrapper {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 32px;
    left: 208px;
    background-color: #01945e;
    border-radius: 9999px;
  }
  
  .about-bukfest .icon-heart {
    position: absolute;
    width: 49px;
    height: 38px;
    top: 19px;
    left: 7px;
  }
  
  .about-bukfest .heading-community {
    position: absolute;
    width: 430px;
    height: 28px;
    top: 119px;
    left: 25px;
    font-family: "Bolden-Regular-Regular", Helvetica;
    font-weight: 400;
    color: #111827;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .about-bukfest .equip-business {
    position: absolute;
    width: 395px;
    height: 71px;
    top: 163px;
    left: 43px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #374151;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .about-bukfest .overlap-wrapper {
    position: absolute;
    width: 1980px;
    height: 553px;
    top: 1385px;
    left: 0;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .about-bukfest .overlap-2 {
    position: relative;
    width: 1917px;
    height: 398px;
    top: 5px;
    left: 32px;
  }
  
  .about-bukfest .heading-payment {
    position: absolute;
    width: 231px;
    height: 32px;
    top: 26px;
    left: 855px;
    font-family: "Cy Grotesk-KeyBold", Helvetica;
    font-weight: 700;
    color: #111827;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .about-bukfest .BBC-LOGO-wrapper {
    position: absolute;
    width: 951px;
    height: 321px;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .about-bukfest .BBC-LOGO {
    position: relative;
    width: 276px;
    height: 73px;
    top: 125px;
    left: 337px;
    background-image: url(./img/BBC-LOGO-BLACK.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .about-bukfest .LOGO-wrapper {
    position: absolute;
    width: 951px;
    height: 321px;
    top: 0;
    left: 483px;
    border-radius: 16px;
  }
  
  .about-bukfest .LOGO {
    position: relative;
    width: 126px;
    height: 95px;
    top: 113px;
    left: 412px;
    background-image: url(./img/a14-LOGO-COLORED.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .about-bukfest .DEVCON-LOGO-HORIZ-wrapper {
    position: absolute;
    width: 951px;
    height: 321px;
    top: 0;
    left: 966px;
    border-radius: 16px;
  }
  
  .about-bukfest .DEVCON-LOGO-HORIZ {
    position: relative;
    width: 333px;
    height: 105px;
    top: 109px;
    left: 309px;
    background-image: url(./img/DEVCON-bukidnon-balck.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .about-bukfest .text-wrapper-2 {
    position: absolute;
    width: 473px;
    height: 24px;
    top: 254px;
    left: 722px;
    font-family: "Cy Grotesk-KeyDemi", Helvetica;
    font-weight: 400;
    color: #374151;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .about-bukfest .group {
    position: absolute;
    width: 879px;
    height: 88px;
    top: 310px;
    left: 675px;
  }
  
  .about-bukfest .BUKIDNON-LOGO {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .about-bukfest .DICT-LOGO {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 0;
    left: 157px;
    object-fit: cover;
  }
  
  .about-bukfest .DOST-LOGO {
    position: absolute;
    width: 87px;
    height: 88px;
    top: 0;
    left: 315px;
  }
  
  .about-bukfest .ROBINSONS-LOGO {
    width: 407px;
    left: 472px;
    position: absolute;
    height: 86px;
    top: 0;
  }
  
  .about-bukfest .ROBINSONS-EMBLEM {
    width: 86px;
    left: 0;
    object-fit: cover;
    position: absolute;
    height: 86px;
    top: 0;
  }
  